<div [ngClass]="theme">
  <div class="calc">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8 col-md-4 calc-menu">
          <div ngbDropdown>
            <button class="btn btn-secondary" ngbDropdownToggle id="theme-dropdown">
              {{ theme }}
            </button>
            <div ngbDropdownMenu aria-labelledby="theme-dropdown">
              <button ngbDropdownItem (click)="changeTheme('theme-1')">
                theme-1
              </button>
              <button ngbDropdownItem (click)="changeTheme('theme-2')">
                theme-2
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8 col-md-4 bdr base">{{total}}</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 col-md-1 bdr secondary-button"
          [class.active]="isButtonActive('allClear')"
          (mousedown)="onButtonMousedown('allClear')"
          (mouseup)="onButtonMouseup('allClear')">AC</div>
        <div class="col-2 col-md-1 bdr secondary-button"
          [class.active]="isButtonActive('plusMinus')"
          (mousedown)="onButtonMousedown('plusMinus')"
          (mouseup)="onButtonMouseup('plusMinus')">&plusmn;</div>
        <div class="col-2 col-md-1 bdr secondary-button"
          [class.active]="isButtonActive('percent')"
          (mousedown)="onButtonMousedown('percent')"
          (mouseup)="onButtonMouseup('percent')">%</div>
        <div class="col-2 col-md-1 bdr accent-button"
          [class.active]="isButtonActive('divide')"
          (mousedown)="onButtonMousedown('divide')"
          (mouseup)="onButtonMouseup('divide')">&divide;</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('7')"
          (mousedown)="onButtonMousedown('7')"
          (mouseup)="onButtonMouseup('7')">7</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('8')"
          (mousedown)="onButtonMousedown('8')"
          (mouseup)="onButtonMouseup('8')">8</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('9')"
          (mousedown)="onButtonMousedown('9')"
          (mouseup)="onButtonMouseup('9')">9</div>
        <div class="col-2 col-md-1 bdr accent-button"
          [class.active]="isButtonActive('times')"
          (mousedown)="onButtonMousedown('times')"
          (click)="onButtonMouseup('times')">&times;</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('4')"
          (mousedown)="onButtonMousedown('4')"
          (mouseup)="onButtonMouseup('4')">4</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('5')"
          (mousedown)="onButtonMousedown('5')"
          (mouseup)="onButtonMouseup('5')">5</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('6')"
          (mousedown)="onButtonMousedown('6')"
          (mouseup)="onButtonMouseup('6')">6</div>
        <div class="col-2 col-md-1 bdr accent-button"
          [class.active]="isButtonActive('minus')"
          (mousedown)="onButtonMousedown('minus')"
          (mouseup)="onButtonMouseup('minus')">-</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('1')"
          (mousedown)="onButtonMousedown('1')"
          (mouseup)="onButtonMouseup('1')">1</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('2')"
          (mousedown)="onButtonMousedown('2')"
          (mouseup)="onButtonMouseup('2')">2</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('3')"
          (mousedown)="onButtonMousedown('3')"
          (mouseup)="onButtonMouseup('3')">3</div>
        <div class="col-2 col-md-1 bdr accent-button"
          [class.active]="isButtonActive('plus')"
          (mousedown)="onButtonMousedown('plus')"
          (mouseup)="onButtonMouseup('plus')">+</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 col-md-2 bdr button"
          [class.active]="isButtonActive('0')"
          (mousedown)="onButtonMousedown('0')"
          (mouseup)="onButtonMouseup('0')">0</div>
        <div class="col-2 col-md-1 bdr button"
          [class.active]="isButtonActive('decimalPoint')"
          (mousedown)="onButtonMousedown('decimalPoint')"
          (mouseup)="onButtonMouseup('decimalPoint')">.</div>
        <div class="col-2 col-md-1 bdr accent-button"
          [class.active]="isButtonActive('equals')"
          (mousedown)="onButtonMousedown('equals')"
          (mouseup)="onButtonMouseup('equals')">=</div>
      </div>
    </div>
  </div>
</div>
